{% extends 'edu_portal/base.html' %} {% block title %}Login{% endblock %} {% block content %}
<div class="row">
    <div class="col s5">
        <h2>Login</h3>
            <form method="post">
                {% csrf_token %} {{ form.as_p }}
                <div class='flex-login-container'>
                    <div>
                        <button type="submit" class="btn waves-effect green darken-3 waves-light">Login</button>
                    </div>
                    <div>
                        <a href="{% url 'signup' usertype='student' %}"><button type="button"
            class="btn waves-effect green darken-3 waves-light">Student signup</button></a>
                    </div>
                    <div>
                        <a href="{% url 'signup' usertype='teacher' %}"><button type="button"
            class="btn waves-effect green darken-3 waves-light">Teacher signup</button></a>
                    </div>
            </form>
            </div>
    </div>
    </br>
    {% endblock %}