{% extends 'edu_portal/base.html' %}

{% block content %}
<h2>Add student</h2>
<form method="post">
  {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit" class="btn waves-effect orange darken-4 waves-light">add</button>
</form>
<div>
    <h2>Students in this class</h2>
    <table class="table table-hover" style='border:solid lightgrey 1px'>
        <thead style='background-color:#fafafa'>
            <tr>
                <th scope="col">name</th>
                <th scope="col">email id</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <div class="col-sm-5">
                        <p>{{student.username}}</p>
                    </div>
                </td>
                <td>
                    <p>{{student.email}}</p>
            </td>
            </tr>
            {% endfor %}
         </tbody>
    </table>
</div>
<div>
    <h2>Students not in this class</h2>
    <table class="table table-hover" style='border:solid lightgrey 1px'>
        <thead style='background-color:#fafafa'>
            <tr>
                <th scope="col">name</th>
                <th scope="col">email_id</th>
            </tr>
        </thead>
        <tbody>
            {% for student in remaining_students %}
            <tr>
                <td>
                    <div class="col-sm-5">
                        <p>{{student.username}}</p>
                    </div>
                </td>
                <td>
                    <p>{{student.email}}</p>
            </td>
            </tr>
            {% endfor %}
         </tbody>
    </table>
</div>

{% endblock %}