{% extends 'edu_portal/base.html' %}

{% block content %}
<h2>add quiz title</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit" class="btn waves-effect orange darken-4 waves-light">add</button>
</form>

{% endblock %}