{% extends 'edu_portal/base.html' %} {% block content %}
<h2>{{quiz.title}}</h2>
<form method="post">
    {% csrf_token %} {% for field in form %}
    <p>
        {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn waves-effect orange darken-4 waves-light">add</button>
    <span style='margin-left: 20px;'>
        <a href="{% url 'read_only_quiz' username=username class_id=class_id quiz_id=quiz.id %}"><button type="button"
            class="btn waves-effect orange darken-4 waves-light">Done</button></a>
</span>
</form>
<br>
<h5>Questions added:</h5>
<div class='row'>
    {% for question in questions %}
    <div class='row'>
        <div class='col-12'>
            <div class='question jumbotron jumbotron-fluid'>
                <div class='container-fluid'>
                    <p>
                        {{question.ques}}
                    </p>
                    <div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_1}}
                    </p>
                </div>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_2}}
                    </p>
                </div>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_3}}
                    </p>
                </div>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_4}}
                    </p>
                </div>
            </div>
        </div>
        {% if user.is_teacher %}
        <div class='row'>
            <p>
                Correct answer = <span class='answer'>{{question.ans}}</span>
            </p>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>
{% endblock %}