{% load static %}
<html>

<head>
    <title>edu portal</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="http://storage.hrylabour.gov.in/uploads_new_2/bocw/scheme_images/Y2019/Jan/W1/D03/1546513298.png" rel='icon'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/atelier-forest-light.min.css">

    <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.6.0/dist/highlightjs-line-numbers.min.js">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
    <style>
        .flex-login-container {
            display: flex;
            justify-content: space-between;
        }
        
        td,
        th {
            padding: 20px !important;
        }
        
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
        .quiz-row {
            background-color: white;
        }
        
        .question {
            padding-left: 5px !important;
            padding-top: 10px;
            padding-bottom: 0px;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }
        
        .question-choices {
            margin-bottom: 0px;
            color: black;
            font-size: 15px;
            font-weight: normal;
            margin-left: 20px;
        }
        
        .answer {
            color: darkgreen;
            font-weight: bold;
        }
        
        .hljs-ln td {
            padding-left: 5px;
        }
        
        .hljs-ln-numbers {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: center;
            color: #ccc;
            border-right: 1px solid #CCC;
            vertical-align: top;
            padding: unset;
            padding-right: 0px;
            /* your custom style here */
        }
        /* for block of code */
        
        .hljs-ln-code {
            padding: unset;
            padding-left: 20px;
        }
        
        h4 {
            margin-bottom: 0.2em
        }
        
        .repo-list,
        .file-list {
            margin-top: 1.5em
        }
        
        .repo-list>.row {
            margin-bottom: 0.5em;
            margin-top: 0.5em
        }
        
        .file-list>.row {
            margin-bottom: 0.5em;
            margin-top: 0.5em
        }
        
        hr {
            margin: 0.02em
        }
        
        a {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #2e2e2e
        }
        
        a:hover {
            color: black;
            background-color: none
        }
        
        .last-update {
            color: #707070
        }
        
        .navbar {
            border-radius: unset
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse app-nav" style="background-color:#148c4a; height: 40px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="
                padding-top: 10px">
                    <img src="http://storage.hrylabour.gov.in/uploads_new_2/bocw/scheme_images/Y2019/Jan/W1/D03/1546513298.png" height="30" alt="">
                </a>
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'home' %}">Edu portal</a> {% else %}
                <a class="navbar-brand" href="{% url 'home' %}">edu portal</a> {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_anonymous %}
                    <li><a href="{% url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% else %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
                    <li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Warning !</strong> {{message}}
                </div>
                </li>
                {% endfor %}
        </ul>
        {% endif %} {% block content %} {% endblock %}
    </div>

</body>

</html>