{% extends 'edu_portal/base.html' %} {%block content%}

<h4 style='margin-bottom: 50px;'>{{class_name}}</h4>
<br>
<table class="table table-bordered text-center table table-hover" style='border:solid lightgrey 1px; font-size: 20px'>
    <thead>
        <tr>
            <th scope="col" colspan=2 class="text-center">Students</th>
            <th scope="col" colspan={{quizes|length}} class="text-center">Quizes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Completion</th>
            {% for quiz in quizes %}
            <th class="text-center">{{quiz.title}}</th>
            {%endfor%}
        </tr>
        {% for st, completion, checks in student_quizes_list %}
        <tr>
            <td class="text-center">{{st.username}}</td>
            {% if completion %}
            <td class="text-center">{{completion}}%</td>
            {%else%}
            <td class="text-center">-</td>
            {%endif%} {% for check, id in checks %}
            <td class="text-center">
                {% if check %}
                <a href="{% url 'read_student_quiz' username=st.username class_id=class_id quiz_id=id %}"><span style="color:rgb(118, 196, 30)" class="glyphicon glyphicon-ok-circle"></span></a> {%else%}
                <a href="{% url 'read_only_quiz' username=user.username class_id=class_id quiz_id=id %}"><span style="color:rgb(238, 55, 55)" class="glyphicon glyphicon-remove-circle"></span></a> {% endif %}
            </td>
            {%endfor%}

        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}