{% extends 'edu_portal/base.html' %} {%block content%} {% if user.is_teacher %}
<h5>add classroom</h5>
<form method="post">
    {% csrf_token %} {% for field in form %}
    <p>
        {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn waves-effect orange darken-4 waves-light">add new class</button>
</form>
{% endif %}
<h2></h2>
<table class="table table-hover" style='border:solid lightgrey 1px; font-size: 20px'>
    <thead style='background-color:#fafafa'>
        <tr>
            <th scope="col">Class</th>
            <th scope="col">quizes</th>
        </tr>
    </thead>
    <tbody>
        {% for id, name, quizes in classroom_list %}
        <tr>
            <td>
                <div>
                    {% if user.is_teacher %}
                    <a href="{% url 'teacher_class' username=user.username class_id=id %}">{{name}}</a>
                    <br>
                    <a href="{% url 'add_student' username=user.username class_id=id %}">add student</a> {%else%}
                    <p>{{name}}</p>
                    {% endif %}
                </div>
            </td>
            <td>
                {% for quiz in quizes %} {% if user.is_student %} {% if quiz in quizes_completed %}
                <a href="{% url 'read_student_quiz' username=user.username class_id=id quiz_id=quiz.id %}"><span style="color:rgb(132, 211, 58);    margin-right: 15px;">{{quiz.title}},</span></a> {%else%}
                <a href="{% url 'submit_quiz' username=user.username class_id=id quiz_id=quiz.id %}">{{quiz.title}}</a> {% endif %} {%else%}
                <a href="{% url 'read_only_quiz' username=user.username class_id=id quiz_id=quiz.id %}"><span style="color:blue; margin-right: 15px;">{{quiz.title}},</span></a> {%endif%} {% endfor %}
                <br> {% if user.is_teacher %}
                <a href="{% url 'add_quiz' username=user.username class_id=id %}">add quiz</a> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}