{% extends 'edu_portal/base.html' %} {% block content %}
<h3>{{quiz.title}}</h3>
<div class='row'>
    {% for question in read_only_quiz %}
    <div class='row'>
        <div class='row'>
            <div class='question jumbotron jumbotron-fluid'>
                <div class='container-fluid'>
                    <p>
                        {{question.ques}}
                    </p>
                    <div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_1}}
                    </p>
                </div>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_2}}
                    </p>
                </div>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_3}}
                    </p>
                </div>
                <div class='row question-choices'>
                    <p>
                        {{question.choice_4}}
                    </p>
                </div>
            </div>
        </div>
        <div class='row'>
            <p>
                Correct answer = <span class='answer'>{{question.ans}}</span>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}