{% extends 'edu_portal/base.html' %} {% block content %}
<script>
    document.body.style.backgroundColor = (27, 69, 90);
</script>
<h3 style='color: white;'>{{quiz.title}}</h3>
<div class='row'>
    {% for question, student_ans in read_student_quiz_list %}
    <div class='row quiz-row'>
        <div class='row'>
            <div class='question jumbotron jumbotron-fluid'>
                <div class='container-fluid'>
                    <p>
                        {{question.ques}}
                    </p>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='row question-choices'>
                <p>
                    {{question.choice_1}}
                </p>
            </div>
            <div class='row question-choices'>
                <p>
                    {{question.choice_2}}
                </p>
            </div>
            <div class='row question-choices'>
                <p>
                    {{question.choice_3}}
                </p>
            </div>
            <div class='row question-choices'>
                <p>
                    {{question.choice_4}}
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <p>
                    Submitted answer: {{student_ans}}
                </p>
            </div>
            <div class='col'>
                <p>
                    Correct answer: <span class='answer'>{{question.ans}}</span>
                </p>
            </div>

        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}