{% extends 'edu_portal/base.html' %} {% block content %}
<h2>{{quiz.title}}</h2>
<form method="post">
    {% for field in form %}
    <div class='row'>
        <div class="row question jumbotron jumbotron-fluid">
            <p>
                <label class='question'>{{field.label}}</label>
            </p>
        </div>
        {% for choice, a in field.field.choices %}
        <div class="row question-choices">
            <p>
                <label>
      
        <input type="radio" value='{{choice}}' name='{{field.name}}'><span>{{choice}}</span>
        
    </label>
            </p>
        </div>
        {% endfor %} {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>

        {% endfor %}</div> {% endfor %}
    <br>
    <button type="submit" class="btn waves-effect orange darken-4 waves-light">Submit quiz</button>

</form>
{% endblock %}